<% if resource.present? && resource.errors.any? %>
	<%= content_tag :div, class: 'resource-errors alert alert-danger', role: 'alert', data: {resource_id: resource.id } do %>
	   <h2>
	   	<%= t('.header', count: resource.errors.count) %>:
	   </h2>

	   <ul>
	     <% resource.errors.full_messages.each do |message| %>
	       <li><%= message %></li>
	     <% end %>
	   </ul>
	<% end %>
<% end %>

<!-- для того, чтобы обработка отображения об ошибках была доступна для всех классов наших моделей
мы вынесли обработку отображения ошибок в отдельное представление в папке /shared -->