	<!-- проверим на валидность вводимые в форму данные -->
	<!-- если экземпляр содержит какие то ошибки -->
	<!-- используем локальную переменную resourse для возможности обращения к обработчику объектов разных моделей -->
  <% if resourse.errors.present? %>
	 <div>
	   <h2>
	   	<%= t('.header', count: resourse.errors.count) %>:
	   </h2>

	   <ul>
	   	<!-- переберем массив ошибок и выведим их -->
	     <% resourse.errors.full_messages.each do |message| %>
	       <li><%= message %></li>
	     <% end %>
	   </ul>
	 </div>
  <% end %>

<!-- для того, чтобы обработка отображения об ошибках была доступна для всех классов наших моделей
мы вынесли обработку отображения ошибок в отдельное представление в папке /shared -->