<footer>
  <p>
    <%= current_year %> <br>
    Author: Ruslan
  </p>

  <p>
    My project in github: <%= link_to 'TestGuru', github_url('ruslan-yandiev', 'test-guru') %><br>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com' %>
  </p>
</footer>