<li>
  <br><td><%= answer.body %></td><br>
  <%= link_to t('links.show'), admin_answer_path(answer) %>
  |
  <%= link_to t('links.edit'), edit_admin_answer_path(answer) %>
  |
  <%= link_to t('links.delete.title'), admin_answer_path(answer), method: :delete, data: { confirm: t('links.delete.confirm') } %>
</li>