<tr>
  <br><td><%= question.body %></td><br>
  <td><%= link_to t('links.show'), admin_question_path(question) %></td>
  |
  <td><%= link_to t('links.edit'), edit_admin_question_path(question) %></td>
  |
  <td><%= link_to t('links.delete.title'), admin_question_path(question), method: :delete, data: { confirm: t('links.delete.confirm') } %></td>
</tr>