<!-- Rails сам использует итерацию (each) локальную переменную test
итерируя инстанс переменную @tests содержащую ссылку на специальный массив -->
<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
</tr>