<div class="col col-md-4 text-xs-center">
  <div class="test-card card">
	  <div class="card-header">
		<h4><%= test.title %></h4>
	  </div>

	  <div class="card-body">
	  	<p>
	  	  <%= test_level(test) %>
	  	</p>

		<p>
		  <%= test_questions_count(test) %>
		</p>

		<div class="card-footer actions">
		  <%= button_to t('.start'), start_test_path(test), class: "btn btn-primary" %>
		</div>
	  </div>
  </div>
</div>