<h1>Tricky Tests</h1>
<p>
  <!--   хелпер link_to генерирует для нас ссылку к ресурсу по переданному вторым аргументом адрессу
  но удобней использовать в качестве пути хелпер роутинга new_test_path вместо '/tests/new' -->
  <%= link_to 'New test', new_test_path %>
</p>

<% if @tests.present? %>

  <table>
  	<thead>
  		<tr>
  			<th>Title</th>
  			<th>Level</th>
        <!-- колонка будет распространяться на все три ячейки -->
        <th colspan="3">Actions</th>
        <th>Questions</th>
  		</tr>
  	</thead>
    
  	<tbody>
      <!-- обработаем коллекцию тестов в представлении _test.html.erb
      Rails сам использует Итератор на коллекции -->
      <%= render @tests %>
  	</tbody>
  </table>

<% else %>
	<p>You have no tests in progress at this moment.</p>
<% end %>