<h1>Tricky Tests</h1>

<% if @tests.present? %>

  <table>
  	<thead>
  		<tr>
  			<th>Title</th>
  			<th>Level</th>
        <th>Questions</th>
        <th>Actions</th>
  		</tr>
  	</thead>
    
  	<tbody>
      <!-- обработаем коллекцию тестов в представлении _test.html.erb
      Rails сам использует Итератор на коллекции -->
      <%= render @tests %>
  	</tbody>
  </table>

<% else %>
	<p>You have no tests in progress at this moment.</p>
<% end %>